*{
    margin: 0%;
    padding: 0%;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;;
}

.product-card{
    border: 1px solid black;
    width: 300px;
}

.product-card > img {
    width: 100%;
}